<!doctype html>
<html lang="en">
  <head>
    <title>DQSMART</title>
    <link rel='preload' href='/static/fonts/roboto/Roboto-Light.ttf' as='font' crossorigin />
    <link rel='preload' href='/static/fonts/roboto/Roboto-Regular.ttf' as='font' crossorigin />
    <%= require('raw-loader!./_header.html.template').default %>
    <style>
      body {
          background: url("/static/images/login-background.png") no-repeat;
          background-size: cover;
      }
    .content {
      padding: 20px 16px;
      max-width: 360px;
      margin: 0 auto;
    }

    .header {
      font-size: 1.96em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 300;
    }

    .logo {
      width: 164px;
      height: 164px;
    }

    .header img {
      margin-left: 50%;
      margin-top: 50%;
      transform: translate(-50%, -50%);
    }

    .footer {
      font-size: 12px;
      position: absolute;
      width: 100%;
      bottom: 16px;
      left: 0;
      text-align: center;
      color: #FC313E;
    }
    </style>
  </head>
  <body>
    <div class="content">
      <div class='header'>
      <div class="logo">
        <img src="/static/icons/favicon-512x512.png" height="128" alt="DQ Logo">
      </div>
      </div>
      <ha-authorize><p>Initializing</p></ha-authorize>
      <div class="footer">Powered by Dien Quang®</div>
    </div>
    <% if (!latestBuild) { %>
      <script src="/static/custom-elements-es5-adapter.js"></script>
      <script src="<%= compatibility %>"></script>
    <% } %>
    <script>
    window.providersPromise = fetch('/auth/providers', { credentials: 'same-origin' });

    var webComponentsSupported = (
      'customElements' in window &&
      'content' in document.createElement('template'));
    if (!webComponentsSupported) {
      var e = document.createElement('script');
      e.src = '/static/webcomponents-bundle.js';
      document.write(e.outerHTML);
    }
    </script>
    <script src="<%= entrypoint %>"></script>
    <script src='<%= hassIconsJS %>' async></script>
  </body>
</html>
